**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
**/*.log
**/.env
**/.venv/
**/venv/
**/.git/
**/.pytest_cache/
**/.mypy_cache/
**/.coverage
**/htmlcov/
**/node_modules/
**/target/
**/dist/
**/.DS_Store
chrome-profile/
electron/
js-app/
license-server-java/target/
license-server-java/.git/
